/*INDEX*/

/*Globals*/
/*index.html*/
/*unkownfacts.html*/


/*Globals*/

body {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

main{
	width: 70%;
	height: auto;

	margin: 15px;
}

aside{
	width: 30%;
	height: auto;

	display: flex;
	flex-direction: column;
	align-content: center;

	margin: 15px;
	padding: 15px;
	background-color: rgba(255, 255, 255, .5);

	border-radius: 30px;

}


/* . are used with classes*/
.main-titles{
	color: #FFF;
}

.image-cover{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.border-radius-30{
	border-radius: 30px;
}

/********************************************/
/*index.html*/
/*******************************************/

/*# are used with id*/

/*Main*/

.main-banner-div{
 	width: 100%;
 	height: 700px;
}

#elephant-pic-1{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 30px;
}

/*Aside*/
.aside-div{
	border: 6px solid blue;
	border-radius: 20px;
	padding: 15px;
}


/*******************************************/
/*facts.html*/
/*******************************************/

/*Accordion Facts*/
.accordion-section {
	position: relative;
	width: 100%;
	height: auto;

	margin-top: 25px;
	margin-bottom: 25px;
}

.accordion {
	width: 100%;

	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	
	text-align: center;
	outline: none;
	transition: 1s;
}

.active, .accordion:hover {
	background-color: #ccc;
}

.panel {
	padding: 0 18px
	background-color: white;
	display: none;
	overflow: hidden;
}


/*Flip Cards*/
#flip-cards-container{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  position: relative;
  background-color: transparent;
  width: 300px;
  height: 200px;
  /*border: 1px solid #f1f1f1;*/
  perspective: 1000px;  /*Remove this if you don't want the 3D effect */

  margin: 10px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front-title{
	width: 100%;
	position: absolute;
	text-align: center;
	color: white;
}

/*Image - fit to card to maintain size*/
.flip-card-front-image{
	width: 300px;
	height: 200px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: darkgrey;
  color: white;
  transform: rotateY(180deg);
}



/*******************************************/
/*unknownfacts.html*/
/*******************************************/

